# AWS Configuration
AWS_REGION=us-east-1

# DynamoDB Tables
USER_JOBS_TABLE=
FILMS_TABLE=

# SQS Queues
# Queue for scraping user lists (ListScraper)
SQS_LIST_QUEUE_URL=
# Queue for scraping individual film details (FilmScraper)
SQS_QUEUE_URL=

# Application Settings
HTTP_TIMEOUT=10000
